<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>79</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>78</string>
					<key>Timestamp</key>
					<string>726613541.241154</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ToDoList/Views/Components/InsertDescriptionView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    
</string>
				<key>leading</key>
				<string>    
    
</string>
				<key>trailing</key>
				<string>    private func hideKeyboard() {
        UIApplication.shared.sendAction(#selector(UIResponder.resignFirstResponder), to: nil, from: nil, for: nil)
    }
</string>
			</dict>
			<key>title</key>
			<string>Da spostare in una ViewModel</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>44</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>43</string>
					<key>Timestamp</key>
					<string>726613541.241106</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ToDoList/Views/Components/InsertDescriptionView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            Spacer()
</string>
				<key>leading</key>
				<string>
            
</string>
				<key>trailing</key>
				<string>                .onTapGesture {
                    hideKeyboard() /// nascondi la tastiera se clicca nello spazio vuoto
                }
</string>
			</dict>
			<key>title</key>
			<string>Non Funziona</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>3</string>
					<key>StartingColumnNumber</key>
					<string>27</string>
					<key>StartingLineNumber</key>
					<string>2</string>
					<key>Timestamp</key>
					<string>726616221.004953</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ToDoList/Views/Pages/DoneListView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>import SwiftUI

struct DoneListView: View {</string>
				<key>trailing</key>
				<string>    var body: some View {
        Text("Done List")
    }
</string>
			</dict>
			<key>title</key>
			<string>Creare una view per la lista delle task fatte di TODAY</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>1</string>
					<key>StartingColumnNumber</key>
					<string>17</string>
					<key>StartingLineNumber</key>
					<string>0</string>
					<key>Timestamp</key>
					<string>726617316.9400001</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ToDoList/ViewModels/DoneListViewViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>import Foundation</string>
				<key>trailing</key>
				<string></string>
			</dict>
			<key>title</key>
			<string>Da settare</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>1</string>
					<key>StartingColumnNumber</key>
					<string>17</string>
					<key>StartingLineNumber</key>
					<string>0</string>
					<key>Timestamp</key>
					<string>726617327.3545589</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ToDoList/ViewModels/InfoToDoItemViewViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>import Foundation</string>
				<key>trailing</key>
				<string></string>
			</dict>
			<key>title</key>
			<string>Da settare</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
